


.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    border-color: #cccccc;
    color: #4aaaa5;
    margin: auto;
    width: 960px;
    height: 60px;
    margin-bottom: 10px;
}

.footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
}

.header-left {
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 12px;
    padding-bottom: -12px;
} 

.header-right {
    float: right;
    text-align: right;
    padding: 12px;
    border-right: thin;
    border-width: 2px;
}
.header-border {
    margin: auto;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color:#cccccc;
}
.background {
    background-image: url(./images/white-waves.png);
    position: static;
    width: 100%;
    height: 1800px;
}

.body-container {
    margin: auto;
    position: relative;
    bottom: -50px;
    width: 960px;
    background-color:#ffffff;
    border: 1px solid #dddddd;
}
.body-content {
    font-family: "arial", "Helvetica Neue", "Helvetica", "sans-serif";
    margin: auto;
    width: 90%;
    overflow: auto;
    position: relative;
    padding: 20px;
    padding-left: 20px;
    padding-right: 40px;
}


#about-me   {
    position: relative;
    text-align: left;
    padding: 20px;
    padding-bottom: 10px;
}

#about-border{
    margin: auto;
    width: 860px;
    height: 2px;
    background-color:#dddddd;
}

#me {
    position: relative;
    float: left;
    width: 20%;
    height: 20%;
    margin-right: 20px;
    padding: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

p {
    font-family: "arial", "Helvetica Neue", "Helvetica", "sans-serif";
    color: #777777;
}